@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.prose a {
  color: var(--foreground);
  text-decoration: underline;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

pre code.hljs {
  background-color: transparent;
  padding: 0;
}

.hljs[class*="language-"] {
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  pre code.hljs {
    color: white;
  }
  
  pre {
    margin-bottom: 1em;
    padding: 0;
  }
}